.loading-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-pop-up__content {
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  animation: fadeInModal 0.3s ease-out;
}

.loading-pop-up__head {
  padding: 24px;
}

.loading-pop-up__body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
}

.loading-pop-up__title {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.loading-pop-up__text {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

.loading-pop-up__loading-icon {
  animation: spin 2s linear infinite; /* Apply the animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees rotation */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees rotation, completing one full spin */
  }
}
